<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Francisco A. | Video Editor | {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
<!-- 	<link rel="shortcut icon" href="{% static 'icons8-easy-100.png' %}" type="image/png"> -->
  <link rel="shortcut icon" href="/static/icons8-easy-100.png" type="image/png">

  <style>
    #os-mg:hover{color:#c00}
    .links-b{
      width: 100%;
      display: flex;
      align-items: center;justify-content:center;
      gap: .5rem;
    }
  </style>
  {% block styles %}{% endblock %}
</head>
<body>

	{% block content %}
	{% endblock content %}
	
	<section class="links">
		<a href="/">Home</a>
		<a href="{% url 'contact' %}" class="glitch" data-text="Contact me">Contact me</a>
		<!-- <a href="https://twitter.com/pastelthepapa">Twitter</a> -->
		<a href="mailto:fraanab.oml@gmail.com">Mail</a>
    <p title="Discord name"><i class="fa-brands fa-discord"></i> fraanab</p>
		<a href="https://es.fiverr.com/share/Z96vQR">Fiverr</a>
		<a href="https://www.upwork.com/services/product/video-audio-an-edited-version-of-your-video-1540388719570350080?ref=project_share">Upwork</a>
		<a href="https://myportfolio.fraanab.repl.co/">Web Dev</a>
    <a href="https://drive.google.com/drive/folders/1i3DB153ADZXgTaoDx0vh1NflTYUdCMU6?usp=sharing" title="Google Drive">Samples</a>
	</section>

	{% block scripts %}
	{% endblock scripts %}
</body>
</html>